<%= error_messages_for(@subject) %>
<table summary="Subject form fields">
	<tr>
		<th><%= f.label(:name) %></th>
		<td><%= f.text_field(:name) %></td>
	</tr>
	<tr>
		<th><%= f.label(:position) %></th>
		<td><%= f.select(:position, 1..@subject_count) %></td>
	</tr>
	<tr>
		<th><%= f.label(:visible) %></th>
		<td><%= f.check_box(:visible) %></td>
	</tr>
<!--	<tr>
		<th>Created Ad</th>
		<td><%= f.datetime_select(:created_at, :minute_step => 15, :date_separator => "/") %></td>
</tr> -->
</table>